
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="github.html">

<polymer-element name="backtick-command" attributes="gistid gist command">
  <template>
    <style>
    :host {
      display: block;
    }
    #icon {
      height: 4em;
      width: 4em;
    }
    #bits {
      margin: 0;
      padding: 0;
    }
    #bits li {
      display: inline;
      padding-right: 1.5em;
    }
    h2 {
      margin: 0;
    }
    #command > * {
      border: thin solid #543f21;
      display: inline-block;
      padding: 0.5em;
      height: 4em;
      vertical-align: top;
      background: #fbb145;
    }
    #command > :first-child {
      border-top-left-radius: 1em;
      border-bottom-left-radius: 1em;
    }
    #command > :last-child {
      border-top-right-radius: 1em;
      border-bottom-right-radius: 1em;
    }
    #command > .dark {
      background: #543f21;
    }
    :host(.default) #command > * {
      background: none;
    }
    #forks {
      padding-left: 4em;
    }
    #forks li {
      display: block;
    }
    :host(.lame) #command {
      display: none;
    }
    :host(.lame) #forks {
      padding-left: 0;
    }
    </style>
    <github-ajax 
      auto loginRequired
      url="https://api.github.com/gists/{{gistid}}"
      handleAs=json
      response="{{gist}}"></github-ajax>
    <template if="{{gist}}">
      <div id="command"><div class="dark">
          <img id="icon" src="{{command.icon}}">
        </div><div>
          <h2 id="name"><a href="{{command.link}}">{{command.name}}</a></h2>
          <div id="desc">{{command.description}}</div>
          <ul id="bits">
            <li><a href="{{command.link}}">Website</a></li>
            <li><a href="https://gist.github.com/{{gistid}}">Gist</a></li>
            <li><span>{{gist.forks.length}} forks</span></li>
          </ul>
        </div></div>
      <ul id="forks">
        <template repeat="{{fork in gist.forks}}">
          <li><backtick-command gistid="{{fork.id}}"></backtick-command></li>
        </template>
      </ul>
    </template>
    <template if="{{!gist}}">
      Working...
    </template>
  </template>
  <script>
  Polymer('backtick-command', {
    gistChanged: function(_, value) {
      this.command = JSON.parse(value.files['command.json'].content);
      if (
          value.files['command.js'].content == "/* NOTE: Comments need to be in multiline format like this, instead of \"// Comment\" */\nalert(\"Hello World\");" ||
          value.files['command.js'].content == "alert(\"Hello World\");" ||
          value.files['command.js'].content == "alert(\"Hello World!\");"
        )
      {
        this.classList.add("default");
      }
      // Idiots who forgot to update their metadata.
      if (this.command.name == "Example Command") {
        this.classList.add("lame");
      }
    }
  });
  </script>
</polymer-element>
